<h2>Recipes</h2>
<div class="boxes">
  <% @recipes.each do |recipe| %>
    <div class="box" style= "background-image: url(<%= recipe.img_url %>)">
      <p class="boxy">
        <%= link_to recipe.name, recipe_path(recipe) %> <span class= "favorite">&hearts;</span>
      </p>
      <small>

      </small>
    </div>
  <% end %>
</div>
